# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

application.properties

# Ignore specific config files
src/main/java/com/archipelago/config/RedisConfig.java
src/main/java/com/archipelago/config/SecurityConfig.java
